<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="slider-box">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for product in recent_product %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <div class="col-md-6" style="padding-top: 20px;">
                                        <h4>{{ product.title }}</h4>
                                        <span>{{ product.brand }}</span>
                                        <p>{{ product.des }}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <img alt="{{ product.title }}" src="{{ product.image.url }}" class="w-75">
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
                <!--slider-box-->
            </div>
        </div>
        <!--slider-box-->

        <!---------------------------------->
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="coopen">
                        <img src="{% static "img/coopen.png" %}" class="w-100"/>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="vizheh">
                        <div class="col-md-6">
                            <div class="vizheh-img">
                                <img src="{% static "img/p20lite-listimage-black.png" %}" class="w-100"/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="vizheh-content">
                                <div>
                                    <del>729,000 تومان</del>
                                </div>
                                <h4>685,000 تومان</h4>
                                <h3>Huawei Tab Y300G2</h3>
                                <ul>
                                    <li>حافظه داخلی 32 گیگابایت</li>
                                    <li>دوربین 13 مگاپیکسل</li>
                                </ul>
                                <hr>
                                <span>زمان باقیمانده تا پایان سفارش</span>
                                <div class="counter" data-minutes-left="1000"></div>
                            </div>
                        </div>
                        <div class="vizheh-tag">
                            <span>فرصت ویژه</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="one-slider">
                        <h4>دوربین عکاسی</h4>
                        <div class="owl-carousel owl-theme ov1">
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}" class="w-100"/></a>
                                </figure>
                                <h5>canon-ef-50mm</h5>
                                <span>1,200,000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}" class="w-100"/></a>
                                </figure>
                                <h5>canon 55mmSTM</h5>
                                <span>1,200,000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}" class="w-100"/></a>
                                </figure>
                                <h5>canon S-500</h5>
                                <span>1,200,000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}" class="w-100"/></a>
                                </figure>
                                <h5>Canon_EOS_400D</h5>
                                <span>1,200,000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}" class="w-100"/></a>
                                </figure>
                                <h5>canon d10</h5>
                                <span>1,200,000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="book-baner">
                        <a href="#"><img src="{% static "img/book-baner.jpg" %}" class="w-100"/></a>
                        <h4>کتاب های کنکور</h4>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="two-slider">
                        <h4>موبایل و تبلت</h4>
                        <div class="owl-carousel owl-theme ov2">
                            {% for product in product %}
                                <div class="item">
                                    <figure>
                                        <a href="{% url "product:detail" product.id %}"><img
                                                src="{{ product.image.url }}"></a>
                                    </figure>
                                    <a style="color: black" href="{% url "product:detail" product.id %}"><h5
                                            href="">{{ product.title }}</h5></a>
                                    <span>{{ product.price }} تومان</span>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class=" container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bodybulding-baner">
                        <a href="#"><img src="{% static "img/bodybulding-baner.jpg" %}" class="w-100"/></a>
                        <h4>مکمل های ورزشی</h4>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="three-slider">
                        <h4>محصولات پر بازدید</h4>
                        <div class="owl-carousel owl-theme ov3">
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>کیبورد ایسوس50</h5>
                                <span>85.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>Adata d5-32G</h5>
                                <span>112.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>Verity 16G</h5>
                                <span>65.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>کفش چرمی نئو</h5>
                                <span>75.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>Sony PS4</h5>
                                <span>4,200,000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>پاوربانک آداتا</h5>
                                <span>145.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>Dlink 54-65-3</h5>
                                <span>117.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>میز تلوزیون چوبی</h5>
                                <span>357.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>Samsung Led HD</h5>
                                <span>3.850.000 تومان</span>
                            </div>
                            <div class="item">
                                <figure>
                                    <a href=""><img src="{% static "img/Canon_EOS_400D.png" %}"
                                                    class="w-100"/></a>
                                </figure>
                                <h5>گارد آیفون</h5>
                                <span>39.000 تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="blog-content">
                        <figure>
                            <img src="{% static  "img/Canon_EOS_400D.png" %}" class="w-100">
                        </figure>
                        <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                        <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار
                            مخفی،باقابلیت حمل
                            داخل
                            گوش...</p>
                        <ul>
                            <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                            <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                            <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                        </ul>
                        <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-content">
                        <figure>
                            <img src="{% static "img/off/watch/1.jpg" %}" class="w-100">
                        </figure>
                        <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                        <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار
                            مخفی،باقابلیت حمل
                            داخل
                            گوش...</p>
                        <ul>
                            <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                            <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                            <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                        </ul>
                        <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blog-content">
                        <figure>
                            <img src="{% static "img/off/watch/1.jpg" %}" class="w-100">
                        </figure>
                        <h5><i class="fa fa-title"></i>گوشی هوشمند جیبی</h5>
                        <p>گوشی هوشمند جیبی تکنولوژی جدید کمپانی اپل،با خاصیت ضد آب بودن و حمل بسیار
                            مخفی،باقابلیت حمل
                            داخل
                            گوش...</p>
                        <ul>
                            <li><i class="fa fa-bars"></i>دسته بندی : تکنولوژی</li>
                            <li><i class="fa fa-calendar-o"></i>نوشته شده در : 97/10/20</li>
                            <li><i class="fa fa-user-o"></i>نویسنده : سئو 90</li>
                        </ul>
                        <a href="#" class="mybtn"><i class="fa fa-continuous"></i>ادامه مطلب&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
        <!---------------------------------->
        <div class="tab-box">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#watch"><i class="fa fa-gift"></i>ساعت
                    مچی</a></li>
                <li><a data-toggle="tab" href="#badaligat"><i class="fa fa-gift"></i>بدلیجات</a>
                </li>
                <li><a data-toggle="tab" href="#behdashti"><i class="fa fa-gift"></i>آرایشی و
                    بهداشتی</a></li>
                <li><a data-toggle="tab" href="#bazi"><i class="fa fa-gift"></i>اسباب بازی</a></li>
                <li><a data-toggle="tab" href="#varzesh"><i class="fa fa-gift"></i>تجهیزات ورزشی</a>
                </li>
                <li><a data-toggle="tab" href="#lebas"><i class="fa fa-gift"></i>لباس فصل</a></li>
            </ul>
            <div class="container">
                <div class="row">
                    <div class="tab-content">
                        <div id="watch" class="tab-pane fade">
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/watch/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                        </div>
                        <div id="badaligat" class="tab-pane fade">
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/badal/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                        </div>
                        <div id="behdashti" class="tab-pane fade">
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/behdashti/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                        </div>
                        <div id="bazi" class="tab-pane fade">
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/bazi/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                        </div>
                        <div id="varzesh" class="tab-pane fade">
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/varzesh/8.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                        </div>
                        <div id="lebas" class="tab-pane fade">
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                            <div class="col-md-3">
                                <a href="#"><img src="{% static "img/off/lebas/1.jpg" %}"
                                                 class="w-100"/></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!---------------------------------->
{% endblock %}