{% load static %}
<meta charset="utf-8">
<title>Soli Shop</title>
<link href="{% static "style/font-awesome.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "style/bootstrap.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "style/owl.carousel.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "style/owl.theme.default.css" %}" rel="stylesheet" type="text/css">
<link href="{% static "style/style.css" %}" rel="stylesheet" type="text/css">


<div class="social">
    <ul>
        <li><a href=""><i class="fa fa-instagram"></i></a></li>
        <li><a href=""><i class="fa fa-send"></i></a></li>
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
    </ul>
</div>