{% load static %}

<div class="top2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login">
                    <a><i class="fa fa-user-circle"></i>{{ request.user.phone }}</a>
                    <a href="{% url "account:register" %}" class="mybtn"><i class="fa fa-user-plus"></i>ثبت نام</a>
                    <a href="{% url "account:login" %}" class="mybtn"><i class="fa fa-user-o"></i>ورود</a>
                    <a href="#" class="mybtn"><i class="fa fa-cart-arrow-down"></i>سبد</a>
                </div>
            </div>
            <div class="col-md-6">
                <form action="">
                    <input type="text" placeholder="کالای مورد نظر را جستجو کنید">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>
</div><!--top2-->
<!---------------------------------->
<div class="main-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>
                        <a href="#">کالای دیجیتال</a>
                        <ul>
                            <li><a href="#">گوشی موبایل</a></li>
                            <li><a href="#">تبلت</a></li>
                            <li><a href="#">لپ تاپ</a></li>
                            <li><a href="#">نمایشگر</a></li>
                            <li><a href="#">دوربین عکاسی</a></li>
                            <li><a href="#">لوازم جانبی رایانه</a></li>
                            <li><a href="#">لوازم جانبی موبایل</a></li>
                            <li><a href="#">سایر</a></li>
                        </ul>
                    </li>
                    <li><a href="#">آرایشی و بهداشتی</a></li>
                    <li>
                        <a href="#">مد و پوشاک</a>
                        <ul>
                            <li><a href="#">لباس فصل</a></li>
                            <li><a href="#">ساعت مچی</a></li>
                            <li><a href="#">بدلیجات</a></li>
                        </ul>
                    </li>
                    <li><a href="#">خانه و آشپزخانه</a></li>
                    <li><a href="#">ابزار اداری</a></li>
                    <li><a href="#">اسباب بازی</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>