<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block main %}
    <!---------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-box">
                    <div class="row">
                        <div class="col-md-7">
                            <h5>{{ product.title }}</h5>
                            <h6>{{ product.brand }}</h6>
                            <hr>
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="single-content-right">
                                        <ul class="brand-ul">
                                            <li>برند : <a href="#">{{ product.brand }}</a></li>
                                            <li>دسته بندی : <a href="#">موبایل و تبلت</a></li>
                                        </ul>
                                        <br>
                                        <span>مشخصات مختصر محصول :</span><br>
                                        <ul class="product-ul">
                                            <li>{{ product.des }}</li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="single-content-left">
                                        <ul>
                                            <span>وضعیت : موجود در انبار</span><br><br>
                                            <br>
                                            <li>
                                                <ul>
                                                    <div class="d-flex mb-4">
                                                        {% if product.color.all %}
                                                            <strong class="text-dark mr-0">رنگ بندی:</strong>
                                                        {% endif %}

                                                        {% for color in product.color.all %}
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input"
                                                                       id="{{ color.title }}"
                                                                       name="color" value="{{ color.title }}">
                                                                <label class="custom-control-label"
                                                                       for="{{ color.title }}">{{ color.title }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <div class="d-flex mb-4">
                                                        {% if product.ram.all %}
                                                            <strong class="text-dark mr-0"> رم:</strong>
                                                        {% endif %}

                                                        {% for ram in product.ram.all %}
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input"
                                                                       id="{{ ram.title }}"
                                                                       name="ram" value="{{ ram.title }}">
                                                                <label class="custom-control-label"
                                                                       for="{{ ram.title }}">{{ ram.title }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </ul>
                                            </li>
                                            <li>
                                                <ul>
                                                    <div class="d-flex mb-4">
                                                        {% if product.storage.all %}
                                                            <strong class="text-dark mr-0"> حافظه داخلی:</strong>
                                                        {% endif %}

                                                        {% for storage in product.storage.all %}
                                                            <div class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input"
                                                                       id="{{ storage.title }}"
                                                                       name="storage" value="{{ storage.title }}">
                                                                <label class="custom-control-label"
                                                                       for="{{ storage.title }}">{{ storage.title }}</label>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <h3>{{ product.price }} تومان</h3>
                            <div class="btn-single">
                                <a href="#"><i class="fa fa-cart-plus"></i>افزودن به سبد خرید</a>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="single-img">
                                <figure>
                                    <img src="{{ product.image.url }}" class="w-100 s-img"
                                         data-zoom-image="img/single-tablet.jpg">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------->
    <div class="container">
        <span class="releated-products">محصولات مرتبط</span>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="single-two-slider">
                    <div class="owl-carousel owl-theme ov-single-two">
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                        <div class="item">
                            <figure>
                                <a href=""><img src="img/Canon_EOS_400D.png" class="w-100"/></a>
                            </figure>
                            <h5>Samsung 500</h5>
                            <span>1,200,000 تومان</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-tabs">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="#two"><i class="fa fa-pencil"></i>نظرات کاربران</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="two" class="tab-pane fade">
                            <div class="row">
                                {% for info in product.informations.all %}
                                    <div class="col-md-6">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0">
                                                {{ request.user.fullname }}:{{ info.text }}

                                            </li>
                                        </ul>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------------------------------->
{% endblock %}